<template name="frameworkBoard">
    <div>
      Total frameworks: {{ frameworkCount }}
    </div>
  
    {{#each framework}}
      <li class="framework {{ selectedClass }}">{{name}}: {{score}}</li>
    {{/each}}
  
    {{# if showSelectedFramework}}
      <input type="button" class="increment" value="Give Point">
      <input type="button" class="decrement" value="Remove Point">
  
      <li>Selected Framework: {{showSelectedFramework.name}}</li>
    {{/if}}
  
    {{> addFrameworkForm}}
  </template>